@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');
$font-stack:  'Work Sans', sans-serif;
$primary-color: rgb(249, 249, 249);
$background-gradient: linear-gradient(90deg, #D800FF, #00BAFF, #00FF58);