@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');
$font-stack:  'Work Sans', sans-serif;
$primary-color: rgb(249, 249, 249);
$purple: rgb(186, 0, 237);
$blue: rgb(0, 179, 255);
$green: rgb(0, 228, 103);
$background-gradient: linear-gradient(90deg, rgb(255, 98, 237), rgb(0, 179, 255), rgb(0, 228, 103));