.video {
    padding-top: 10px;
    width: 100vw;
}

.product-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-child {
    flex-basis: 400px;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
}

.subheader {
    height: 40px;
    background: rgb(184, 184, 184);
}