@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.title {
    font-size: 80px;
    font-family: 'Bowlby One SC', cursive;
    margin: 40px;
}

.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}