.title {
    font-size: 130px;
    font-family: 'FatFrank', cursive;
    margin: 50px auto 20px auto;
    color: rgb(0, 179, 233);
}


.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 300px;
}