.header {
    height: 80px;
    background-image: linear-gradient(90deg, #D800FF, #00BAFF, #00FF58);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-title {
    font-family: 'FatFrank', Impact, sans-serif;
    font-size: 26px;
    color: white;
}

.flex-parent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    align-items: center;
    
}

.header-logo {
    width: 30px;
    height: 45px;
    margin-left: 20px;
    margin-right: 10px;
}

.wakenow-logo {
    width: 150px;
}

.links  p {
    background: transparent;
    border: none;
    margin: 15px;
    font-size: 13px;
    color: black;
    

}

.links p:hover {
    color: rgb(85, 85, 85);
}

.links p:active {
    color: rgb(255, 29, 255);
}

.cart-logo {
    height: 20px;
   
    margin-left: 20px;
}

