.header {
    height: 80px;
    background-image: linear-gradient(90deg, #D800FF, #00BAFF, #00FF58);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px  rgb(160, 160, 160);
    
}

.links {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    align-items: center;
    
}

.header-logo {
    width: 30px;
    height: 45px;
    margin-left: 50px;
    margin-top: 18px;
}

.links  p {
    background: transparent;
    border: none;
    margin: 15px;
    font-size: 13px;
    color: black;
    

}

.links p:hover {
    color: rgb(85, 85, 85);
}

.cart-logo {
    height: 20px;
   
    margin-left: 20px;
}

