@import './sass/variables.scss';
@import './sass/mixins.scss';
@import './sass/defaults.scss';

// Header Styles
.header {
    @include flexbox();
    height: 80px;
    width: 100%;
    @include justify-content(space-between);
    @include align-items(center);
}

.flex-parent {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);
}

.header-logo {
    width: 20px;
    height: 30px;
    margin-left: 30px;
    margin-right: 10px;
}

.wakenow-logo {
    width: 140px;
    margin-top: 5px;
}


.nav-button {
    display: initial;
    position: fixed;
    right: 20px;
    z-index: 4;
    width: 40px;
    background: rgba(80, 80, 80, 0.5);
    padding: 5px 7px;
    border-radius: 5px;
} 

nav {
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translate(100vw, 0px);
    transition: .3s ease-in-out;
    height: 100vh;
    width: 100vw;
    background: gray;
    div {
        margin-top: 150px;
        p {
            margin: 40px;
            font-size: 24px;
        }
    }

}

.cart-logo {
    margin: 0 auto;
    padding: 10px;
    height: 26px;
}

.show {
    transform: translate(0px, 0px)
}

// End Header Styles


// Home Styles

.home-parent {
    display: none;
}

.together {
    height: 400px;
    margin-top: 50px;
}

// End Home Styles

// User Styles
.flex-parent-user {
    @include flexbox();
    flex-direction: column;
    @include align-items(center);
}


.user-img {
    max-width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid white;
}
// End User Styles

// Product Styles

.product-img {
    max-height: 250px;
    transition: all .2s ease-in-out;
    // padding: 20px;
}

.product-img:hover {
    transform: scale(1.07);
}

.product-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
}

.product-child {
    // flex-basis: 350px;
    background: white;
    padding: 20px;
    margin: 5px;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 10px;
}

.subheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.active {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    height: 55px;
    text-align: center;
    margin-top: 12px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    p {
        color: rgb(28, 28, 28);
        font-size: 25px;
        margin-bottom: 8px;
    }
}

.text {
    width: 250px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 10px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}


.detail-img {
    max-width: 600px;
    margin: 20px;
}

.detail-description {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
// End Product Styles


// Contact Styles
.parent-contact {
    display: grid;
    grid-template-columns: 150px 350px;
    width: 500px;
    margin: 20px auto;
    row-gap: 10px;
    column-gap: 5px;
}

label {
    justify-self: end;
    height: 25px;
}
// End Contact Styles


// Admin Styles
.admin-parent {
    display: grid;
    grid-template-columns: 100px 120px 200px 200px 100px 100px 100px;
    width: 920px;
    margin: 0 auto;
}

.admin-child {
    height: 20px;
    padding: 10px;
}

.admin-parent:nth-child(2n -1) {
    background: $green;
}

.admin-parent:nth-child(1) {
    background-color: $blue;
    color: $primary-color;
    height: 50px;
    font-size: 18px;
}

.add-product {
    margin: 40px;
}

// End Admin Styles



// Desktop View



@media screen and (min-width: 650px) {


    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transform: initial;
        height: 90px;
        margin-right: 30px;
        background: none;
            p {
            font-family: $font-stack;
            font-size: 18px;
            font-weight: 900;
            color: $primary-color;
            margin: 15px;
        }

    }

    nav div {
        display: flex;
    }
    
    .cart-logo {
        padding: 10px 20px;
        margin-bottom: 5px;
    }
    
    .nav-button {
        display: none;
    }

    // Home Styles

    .wake, .now {
        height: 120px;
        margin-top: 200px;
    }
    
    .now {
        margin-left: 20px;
    }
    
    .main-logo {
        height: 300px;
        margin-top: 100px;
    }
    
    .home-parent {
        @include flexbox();
        @include justify-content(center);
        margin: 60px auto;
        width: 250px;
    }

    body {
        background-image: linear-gradient(90deg, rgb(255, 98, 237), rgb(0, 179, 255), rgb(0, 228, 103));
    }

}
