@import './sass/variables.scss';
@import './sass/mixins.scss';
@import './sass/defaults.scss';

// Header Styles
.header {
    @include flexbox();
    height: 80px;
    width: 100%;
    @include justify-content(space-between);
    @include align-items(center);
}

.flex-parent {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);
}

.header-logo {
    width: 20px;
    height: 30px;
    margin-left: 20px;
    margin-right: 5px;
}

.wakenow-logo {
    width: 120px;
    margin-top: 5px;
}

.nav-button {
    display: initial;
    position: fixed;
    right: 20px;
    z-index: 4;
    width: 40px;
    background: rgba(80, 80, 80, 0.5);
    padding: 5px 7px;
    border-radius: 5px;
} 

nav {
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translate(100vw, 0px);
    transition: .3s ease-in-out;
    height: 100vh;
    width: 100vw;
    background: gray;
    z-index: 2;
    div {
        margin-top: 150px;
        p {
            margin: 40px;
            font-size: 24px;
            color: white;
            &:hover {
                color: rgb(225, 225, 225);
            }
            &:active {
                color: rgb(172, 172, 172)
            }
        }
        
    }

}

.cart-logo {
    margin: 0 auto;
    padding: 5px;
    height: 25px;
}

.show {
    transform: translate(0px, 0px)
}
// End Header Styles


// Home Styles
.home-parent {
    display: none;
}

.together{
    height: 400px;
    margin: 40px 15px 30px 0px;
}

.story {
    height: 50px;
    margin-bottom: 20px;
}

.desktop-story {
    display: none;
}
// End Home Styles


// User Styles
.flex-parent-user {
    @include flexbox();
    flex-direction: column;
    @include align-items(center);
    width: 100vw;
}

.user-img {
    max-width: 200px;
    border-radius: 50%;
    margin: 20px auto 5px auto;
    border: 5px solid white;
}
// End User Styles


// Product Styles
.product-img {
    max-height: 250px;
    transition: all .2s ease-in-out;
    // padding: 20px;
}

.product-img:hover {
    transform: scale(1.1);
}

.product-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    max-width: 1400px;
}

.product-child {
    background: white;
    padding: 30px;
    margin: 5px;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 5px;
}

.name {
    margin: 20px auto 10px auto;
    font-size: 22px;
    color: black;
}
.price {
    // margin-top: 10px;
    color: rgb(171, 171, 171);
    font-size: 22px;
}

.subheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.active {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 280px;
    height: 50px;
    text-align: center;
    margin: 5px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    p {
        color: rgb(28, 28, 28);
        margin-bottom: 8px;
    }
}

.text {
    width: 250px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}

.detail-bg {
    background: white;
    width: 90vw;
    margin: 80px auto 10px auto;
    border-radius: 10px;
}

.detail-img {
    max-width: 300px;
    padding: 20px;
    margin: 20px auto;
    transition: all .2s ease-in-out;
}

.detail-img:hover {
    transform: scale(1.2);
}

.detail-description {
    max-width: 400px;
    margin: 0 10px;
    padding: 15px;
    color: white;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
}

.detail-price {
    font-size: 30px;
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
    
}

.back {
    width: 40px;
    position: absolute;
    left: 20px;
    margin: 20px auto 20px 20px;
}

.back:hover {
    cursor: pointer;
}
// End Product Styles


// Contact Styles
.parent-contact {
    display: grid;
    grid-template-columns: 120px 200px;
    width: 350px;
    margin: 20px auto;
    row-gap: 10px;
    column-gap: 5px;
}

label {
    justify-self: end;
    height: 25px;
    color: white;
}
// End Contact Styles


// Admin Styles
.admin-parent {
    display: grid;
    grid-template-columns: 150px 100px 120px 200px 200px 100px 100px 100px;
    width: 1100px;
    margin: 0 auto;
}

.admin-child {
    height: 30px;
    padding: 10px;
}

.admin-parent:nth-child(2n -1) {
    background: rgba(0,0,0,0.2);
    color: $primary-color;
}

.admin-parent:nth-child(2n) {
    background: rgba(255,255,255,0.3);
    color: black;
}

.admin-parent:nth-child(1) {
    background-color: $primary-color;
    color: black;
    height: 50px;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.add-product {
    margin: 20px;
    display: grid;
    grid-template-columns: 120px 400px;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
    
    textarea {
        height: 100px;
        font-size: 16px;
    }
    input {
        height: 20px;
        font-size: 18px;
    }
}
// End Admin Styles


// Order Styles
.orders-parent {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 95%;
    max-width: 400px;
}

.orders-date {
    font-size: 22px;
}

.orders-img {
    max-width: 100px;
    margin: 20px auto;
}

.orders-details {
    padding: 0 10px;
}

.orders-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.orders-address {
    font-size: 14px;
    margin-top: 20px;
}

.flex-orders {
    display: grid;
    grid-template-columns: 80px 100px 160px;
    justify-content: center;
    align-items: center;
}

.orders-date {
    transform: rotate(270deg);
    padding: 10px 0px;
    font-size: 14px;
}
// End Order Styles


// Shopping Cart Styles
.z1 {
    z-index: 1;
}

.total {
    margin-top: 40px;
}

.empty-cart {
    margin-top: 30px;
}
// End Shopping Cart Styles



// Desktop View

@media screen and (min-width: 900px) {

    body {
        background-image: linear-gradient(90deg, rgb(255, 98, 237), rgb(2, 153, 218), rgb(0, 203, 91));
    }
    
    // Header styles
    .header {
        margin-bottom: 60px;
    }

    .header-logo {
        width: 30px;
        height: 45px;
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .wakenow-logo {
        width: 170px;
        margin-top: 15px;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transform: initial;
        height: 90px;
        background: none;
        position: initial;
        div {
            display: flex;
            margin-top: 20px;
            p {
                margin: 20px;
                font-size: 18px;
                font-weight: 900;
                color: white;
            }
        }
    }

    .cart-logo {
        padding: 10px 20px;
        margin-top: 5px;
        margin-right: 20px;
    }
    
    .nav-button {
        display: none;
    }
    // End Header Styles


    // Home Styles
    .wake, .now {
        height: 120px;
        margin-top: 200px;
    }
    
    .now {
        margin-left: 20px;
    }
    
    .main-logo {
        height: 280px;
        margin-top: 100px;
    }
    
    .home-parent {
        @include flexbox();
        @include justify-content(center);
        margin: 60px auto;
        width: 250px;
    }

    .together {
        display: none;
    }

    .story {
        display: none;
    }

    .desktop-story {
        height: 60px;
        display: inline-block;
    }
    // End Home Styles


    // Product Styles
    .subheader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 40px auto;
    }

    .active {
        width: 250px;
        height: 40px;
    }

    .detail-div {
        background: rgba(0,0,0,.2);
        margin: 20px auto;
        padding: 10px;
        max-width: 800px;
        border-radius: 10px;
    }

    .detail-bg {
        max-width: 600px;
        margin: 20px auto;
        // margin-top: 120px;
    }

    .detail-description {
        max-width: 900px;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .back {
        left: 20%;
        width: 70px;
    }

    .pop-down {
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            right: 0;
            background: #05d9ff;
            text-align: center;
            line-height: 4;
            overflow: hidden; 
            box-shadow: 0 0 10px black;
            transform: translate(0px, -100px);
            transition: .3s ease-in-out;
    }



    // End Product Styles


    // User Styles
    .user-img {
        margin-top: 50px;
    }
    // End User Styles


    // Contact Styles
    .parent-contact {
        margin: 20px auto;
        width: 900px;
        grid-template-columns: 200px 500px;
    }
    // End Contact Styles


    // Order Styles
    .orders-parent {
        width: 500px;
    }

    .flex-orders {
        grid-template-columns: 120px 120px 350px;
        // margin-left: 40px;
    }

    .orders-img {
        max-width: 200px;
    }

    .orders-date {
        transform: rotate(320deg);
        background: rgb(205, 205, 205);
        padding: 20px 0px;
        border-radius: 10px;
    }

    // End Orders Styles

    // Shopping Cart Stylex

    .cart-button {
        margin: 10px;
        width: 80px;
        height: 30px;
        font-size: 12px;
    }

    .cart-price {
        margin: 5px auto;
    }
}
